<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.nstSlider.min.css"/>
    <script type="text/javascript" src="jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.nstSlider.min.js"></script>
    <script type="text/javascript" src="js/autobahn.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
                    var currentValue;
                    var currentState;
                    var connection;
                    var slider;

                    slider = $('.nstSlider');

                    connection = new autobahn.Connection({
                        url: 'ws://{{ hostname }}:{{ port }}/ws',
                        realm: 'realm1'
                    });

                    connection.onopen = function (session) {
                        // topic
                        // - cc.triplebottomline.led.state (動作モード)
                        // - cc.triplebottomline.led.value (現在の設定値)

                        slider.nstSlider({
                            "left_grip_selector": ".leftGrip",
                            "value_changed_callback": function (cause, minValue, maxValue, prevMinValue, prevMaxValue) {
                                if (currentValue === undefined) {
                                    return;
                                }
                                currentValue = minValue;
                                console.log("value is " + currentValue);

                                session.publish('cc.triplebottomline.led.value', [currentValue]);
                            }
                        });

                        session.subscribe('cc.triplebottomline.led.state', function (args) {
                            console.log("Event:", args[0]);
                        });
                        session.subscribe('cc.triplebottomline.led.value', function (args) {
                            console.log("Event:", args[0]);
                            slider.nstSlider('set_position', args[0]);
                            currentValue = args[0];
                        });

                        session.call('cc.triplebottomline.led.getValue', []).then(
                                function (res) {
                                    // TODO set current value to slider
                                    console.log("Result:", res);
                                    slider.nstSlider('set_position', res);
                                    currentValue = res;
                                }
                        );
                        session.call('cc.triplebottomline.led.getState', []).then(
                                function (res) {
                                    console.log("Result:", res);
                                    currentState = res;
                                }
                        );
                    };

                    connection.open();
                }
        );
    </script>

</head>
<body>

<div class="content">
    <div class="nstSlider"
         data-range_min="0" data-range_max="100"
         data-cur_min="0" data-cur_max="100">
        <div class="highlightPanel"></div>
        <div class="bar"></div>
        <div class="leftGrip"></div>
    </div>

    <div class="leftLabel"></div>
    <div class="rightLabel"></div>
</div>
<div class="content">
    <div class="sliderValue">
    </div>
    <div class="content">
        <button>Demo</button>
    </div>
</body>
</html>
